<div class="pricing-container margin-0">
  <header class="pricing-header">
    <h2> Danh sách đề thi </h2>
  </header>
  <ul class="pricing-list bounce-invert">
    <li class="exclusive" *ngFor='let item of mcqs; let i = index; let last = last'>
      <ul class="pricing-wrapper">
        <li data-type="monthly" class="is-visible">
          <header class="pricing-header">
            <h2>{{item.title}}</h2>
          </header>
          <div class="pricing-body">
            <ul class="pricing-features">
              <li><em>{{item.numberOfQuestion}}</em> Câu hỏi</li>
              <li><em>thời gian : </em> {{item.duration}} phút </li>
              <li> <a href="#"> {{item.type}} </a> </li>
              <li><em>Lượt thi : </em> {{item.attempts}} </li>
              <li><em>Lượt xem : </em> {{item.views}} </li>
              <li><em> Ngày đăng : </em> {{item.createOn | date: 'dd/MM/yyy' }} </li>
            </ul>
          </div>
          <footer class="pricing-footer">
            <a class="select" href="javascript:;" (click)="viewDetail(item)"> Xem </a>
          </footer>
        </li>
      </ul>
    </li>
  </ul>
</div>
