<div class="pricing-container margin-0">
  <header class="pricing-header">
    <h2> THI THỬ 2018 – CHUYÊN LÊ QUÝ ĐÔN – ĐIỆN BIÊN (LẦN 2) </h2>
  </header>
  <div>
    <span> Ngày cập nhật : 09:17 Ngày 20/04/2018  </span><br />
    <span> 21025 Lượt xem </span>
  </div>

  <div style="padding-top: 10px;" class="TestContent">
    <div class="tg">
      <b><i class="fa fa-clock-o" aria-hidden="true">
        </i> 50 phút &nbsp;&nbsp;&nbsp;
        <i class="fa fa-list-alt" aria-hidden="true">
        </i> 40 câu</b>
      <p>Hình thức thi: Trắc nghiệm</p>
      <p><span><i class="fa fa-question-circle" aria-hidden="true"></i></span> <a href=""> Hướng dẫn thi trắc nghiệm</a></p>
    </div>
    <div class="dkthi" id="ready_thi">
      <a style="float: none;" class="takeExam" href="set-session.php">Bắt đầu vào thi thử <i class="fa fa-arrow-right" aria-hidden="true"></i></a> &nbsp;&nbsp;
      <p style="padding-top: 12px;">Hãy <a href="ac/dang-ky.html">Đăng ký</a> hoặc <a [routerLink]="['/Login']">Đăng nhập</a> để vào thi</p>
    </div>
    <div class="clr"></div>
  </div>
</div>
