<div class="pricing-container margin-0">
  <div class="clearfix">
    <header class="pricing-header" style="float: left;">
      <h2>Đề thi</h2>
    </header>
    <header class="pricing-header" style="float: right;">
      <h2><a [routerLink]="['/listmcq']"
             style="font-size: 12px !important;">Xem thêm</a></h2>
    </header>
  </div>
  <ul class="pricing-list bounce-invert">
    <li class="exclusive" *ngFor='let item of mcqs; let i = index; let last = last'>
      <ul class="pricing-wrapper">
        <li data-type="monthly" class="is-visible">
          <header class="pricing-header">
            <h2>{{item.title}}</h2>
          </header>
          <div class="pricing-body">
            <ul class="pricing-features">
              <li><em>{{item.numberOfQuestion}}</em> Câu hỏi</li>
              <li><em>thời gian : </em> {{item.duration}} phút </li>
              <li> <a href="#"> {{item.type}} </a> </li>
              <li><em>Lượt thi : </em> {{item.attempts}} </li>
              <li><em>Lượt xem : </em> {{item.views}} </li>
              <li><em> Ngày đăng : </em> {{item.createOn | date: 'dd/MM/yyy' }} </li>
            </ul>
          </div>
          <footer class="pricing-footer">
            <a class="select" href="javascript:;" (click)="viewDetail(item)"> Xem </a>
          </footer>
        </li>
      </ul>
    </li>
  </ul>
</div>
<div class="pricing-container margin-0">
  <div class="clearfix">
    <header class="pricing-header" style="float: left;">
      <h2> Dạng bài </h2>
    </header>
    <header class="pricing-header" style="float: right;">
      <h2><a href="#"
             style="font-size: 12px !important;">Xem thêm</a></h2>
    </header>
  </div>
  <ul class="pricing-list bounce-invert">
    <li class="exclusive">
      <ul class="pricing-wrapper">
        <li data-type="monthly" class="is-visible">
          <header class="pricing-header">
            <h2>Basic</h2>
          </header>
          <div class="pricing-body">
            <ul class="pricing-features">
              <li><em>5</em> Email Accounts</li>
              <li><em>1</em> Template Style</li>
            </ul>
          </div>
          <footer class="pricing-footer">
            <a class="select" href="#">Sign Up</a>
          </footer>
        </li>
      </ul>
    </li>
    <li class="exclusive">
      <ul class="pricing-wrapper">
        <li data-type="monthly" class="is-visible">
          <header class="pricing-header">
            <h2>Basic</h2>
          </header>
          <div class="pricing-body">
            <ul class="pricing-features">
              <li><em>5</em> Email Accounts</li>
              <li><em>1</em> Template Style</li>
            </ul>
          </div>
          <footer class="pricing-footer">
            <a class="select" href="#">Sign Up</a>
          </footer>
        </li>
      </ul>
    </li>
    <li class="exclusive">
      <ul class="pricing-wrapper">
        <li data-type="monthly" class="is-visible">
          <header class="pricing-header">
            <h2>Basic</h2>
          </header>
          <div class="pricing-body">
            <ul class="pricing-features">
              <li><em>5</em> Email Accounts</li>
              <li><em>1</em> Template Style</li>
            </ul>
          </div>
          <footer class="pricing-footer">
            <a class="select" href="#">Sign Up</a>
          </footer>
        </li>
      </ul>
    </li>
  </ul>
</div>
<div class="pricing-container margin-0">
  <div class="clearfix">
    <header class="pricing-header" style="float: left;">
      <h2> Độ khó </h2>
    </header>
    <header class="pricing-header" style="float: right;">
      <h2><a href="#"
             style="font-size: 12px !important;">Xem thêm</a></h2>
    </header>
  </div>
  <ul class="pricing-list bounce-invert">
    <li class="exclusive">
      <ul class="pricing-wrapper">
        <li data-type="monthly" class="is-visible">
          <header class="pricing-header">
            <h2>Basic</h2>
          </header>
          <div class="pricing-body">
            <ul class="pricing-features">
              <li><em>5</em> Email Accounts</li>
              <li><em>1</em> Template Style</li>
            </ul>
          </div>
          <footer class="pricing-footer">
            <a class="select" href="#">Sign Up</a>
          </footer>
        </li>
      </ul>
    </li>
    <li class="exclusive">
      <ul class="pricing-wrapper">
        <li data-type="monthly" class="is-visible">
          <header class="pricing-header">
            <h2>Basic</h2>
          </header>
          <div class="pricing-body">
            <ul class="pricing-features">
              <li><em>5</em> Email Accounts</li>
              <li><em>1</em> Template Style</li>
            </ul>
          </div>
          <footer class="pricing-footer">
            <a class="select" href="#">Sign Up</a>
          </footer>
        </li>
      </ul>
    </li>
    <li class="exclusive">
      <ul class="pricing-wrapper">
        <li data-type="monthly" class="is-visible">
          <header class="pricing-header">
            <h2>Basic</h2>
          </header>
          <div class="pricing-body">
            <ul class="pricing-features">
              <li><em>5</em> Email Accounts</li>
              <li><em>1</em> Template Style</li>
            </ul>
          </div>
          <footer class="pricing-footer">
            <a class="select" href="#">Sign Up</a>
          </footer>
        </li>
      </ul>
    </li>
  </ul>
</div>
