<div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
  <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-30">
    <div style="width: 50%;">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
          <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Dashboard</a></li>
          <li class="breadcrumb-item"> <a href="javascript:;" [routerLink]="['/adminpage/usermanagemant']"> Quản lý người dùng</a>  </li>
        </ol>
      </nav>
      <h4 class="mg-b-0 tx-spacing--1"> Danh sách người dùng </h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-general" id="tblDatatable" style="margin: 0 !important">
        <thead>
          <tr>
            <td> # </td>
            <td> Tên </td>
            <td> Họ </td>
            <td> Email </td>
            <th style="width: 100px;"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; let i = index">
            <td> {{i + 1}} </td>
            <td> {{user.firstName}} </td>
            <td> {{user.lastName}} </td>
            <td> {{user.email}} </td>
            <td>
              <a class="btn btn-primary btn-sm" href="javascript:;">
                <span class="fa fa-pencil"></span>
              </a>
              <a class="btn btn-danger btn-sm" href="javascript:;" style="margin-left: 5px;">
                <span class="fa fa-trash-o"></span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
