<body style="height: auto;background-color: #f1f1f1" *ngIf="!sharedService.isAdmin()">
  <app-nav-menu></app-nav-menu>
  <div style="background-color: #fff" *ngIf="!sharedService.isAdmin()">
    <router-outlet></router-outlet>
  </div>
  <div style="background-color: #fff" *ngIf="sharedService.isAdmin()">
    <router-outlet></router-outlet>
  </div>
</body>

<body id="page-top" *ngIf="sharedService.isAdmin()">
  <div style="background-color: #fff">
    <!-- Page Wrapper -->
    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
          </div>
          <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span class="font-size">Dashboard</span>
          </a>
        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/mcqmanagement']">
            <i class="fas fa-fw fa-chart-area"></i>
            <span class="font-size">Quản lý đề thi</span>
          </a>
        </li>

        <!-- Nav Item - Tables -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/mcqquestion']">
            <i class="fas fa-fw fa-table"></i>
            <span class="font-size">Ngân hàng câu hỏi</span>
          </a>
        </li>
        <!-- Nav Item - Tables -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/user']">
            <i class="fas fa-fw fa-table"></i>
            <span class="font-size">Quản lý người dùng</span>
          </a>
        </li>

      </ul>
      <!-- End of Sidebar -->
      <!-- Content Wrapper -->
      <!-- End of Content Wrapper -->
      <div style="width: 100%">
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
